<head>
	<title>Costello's | Home</title>
	<link rel="stylesheet" type="text/css" href="css/dashboard.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Italianno" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
</head>

<body>

		<div class="app-section">
			<div class="side">
				<h1>Costello's Pizza Maker</h1>
			</div>

			<div class="main">
				<form method="post" action="/order">
						<p id="pic1">Size:</p> <input type="radio" name="size" value="small">Small
						<input type="radio" name="size" value="medium"> Medium
						<input type="radio" name="size" value="large"> Large<br>
						<p>Crust:</p> <input type="checkbox" name="crust" value="thin">Thin
						<input type="checkbox" name="crust" value="pan"> Pan<br>
						<p>Toppings:</p> 
						<% meats.each do |meat|%>
							<input type="checkbox" name="meats[]" value="<%= meat%>"><%= meat.capitalize%>
							<% end%>
						<p>Vegetables:</p> 
						<% veggies.each do |vegs|%>
							<input type="checkbox" name="veggies[]" value="<%= vegs%>"><%= vegs.capitalize%>
							<% end%>					
					<div class="sub">
						<input type="submit" value="Submit Order">
					</div>
				</form>
			</div>
		</div>
</body>

<script type="text/javascript">
	$(document).ready(function() {
		$(".menu-icon").on("click", function() {
			$("nav ul").toggleClass("showing");
		});
	});

	$(window).on("scroll", function() {
		if($(window).scrollTop()) {
			$('nav').addClass('black');
		}
		else {
			$('nav').removeClass('black');
		}
	});
</script>