<head>
	<title>Costello's | Home</title>
	<link rel="stylesheet" type="text/css" href="css/dashboard.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="javascript/pizza.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Italianno" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<header>
			<nav>
				<div class="menu-icon">
					<i class="fa fa-bars fa-2x"></i>
				</div>
				<div class="logo">
					<a href="/">Costello<span>'</span>s</a>
				</div>
				<div class="menu">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="/custom" class="active">Make It</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</nav>
		</header>	
		
		<div class="app-section2">
		<!-- 	<h1 style="color: white"><%= crust%></h1>
			<h1 style="color: white"><%= meats%></h1>
			<h1 style="color: white"><%= veggies%></h1> -->
			<div class="order">
					<h1>Verify Order</h1><br>
					<h3><%= order%></h3>
			</div>
			<div class="deliver">
				<form method="post" action="delivery">
				<input type="text" name="first" id="first" placeholder="Enter Name">
				<button type="submit" id="btn1">Delivery</button>
				</form>
				<div class="carry">
					<input type="submit" id="btn" value="Carryout" onclick="clickFunc()">
				</div>
				<button type="submit" id="btn2" onclick="history.back()">Modify</button>
			</div>
		</div>

	</div>
</body>

<script type="text/javascript">
	$(document).ready(function() {
		$(".menu-icon").on("click", function() {
			$("nav ul").toggleClass("showing");
		});
	});

	$(window).on("scroll", function() {
		if($(window).scrollTop()) {
			$('nav').addClass('black');
		}
		else {
			$('nav').removeClass('black');
		}
	});
</script>